modal-audio {
    audio-track{
        margin-top: 25px;
        .controls{
            justify-content: center;
            flex-wrap: wrap;
        }
        .info{
            height: auto!important;
            text-align: center;
        }
        audio-track-progress-bar{
            padding-top: 10px;
        }
        /* Special styling for WebKit/Blink */
        input[type=range]::-webkit-slider-thumb {
            box-shadow: none;
            background-color: black;
        }
        
        /* All the same stuff for Firefox */
        input[type=range]::-moz-range-thumb {
            box-shadow: none;
            background-color: color($colors, danger);
        }
        
        /* All the same stuff for IE */
        input[type=range]::-ms-thumb {
            box-shadow: none;
            background-color: color($colors, danger);
        }

        input[type=range]::-webkit-slider-runnable-track {
            height: 1px;
          }
          
          input[type=range]::-moz-range-track {
            height: 1px;
          }
          
          input[type=range]::-ms-track {
            height: 1px;
          }
    }
}
ion-modal{
    .modal-wrapper .ion-page .content .scroll-content {
        padding-bottom: 30px !important;
    }
    art-button-round{
        &:first-child{
            margin-right: 20px;
        }
    }
    &.jezelf{
        .content {
            background-image: url("../assets/imgs/lightgreen-texture.jpg");
        }
    }
    &.kunstgeschiedenis{
        .content {
            background-image: url("../assets/imgs/lightblue-texture.jpg");
        }
    }
    &.kunstgeschiedenis{
        art-button-round button{
            background-color: transparent;
            background-image: url("../assets/imgs/blue-texture.jpg");
        }
    }
    &.jezelf{
        art-button-round button{
            background-color: transparent;
            background-image: url("../assets/imgs/green-texture.jpg");
        }
    }
    &.actualiteiten{
        art-button-round button{
            background-color: transparent;
            background-image: url("../assets/imgs/orange-texture.jpg");
        }
    }
}

