page-thanks {
    .contactForm{
        ion-item.item{
            margin-bottom: 10px;
            background-color: rgba(255,255,255,0.6);
        }
        art-button-rectangle{
            padding: 0;
        }
        ion-col.col{
            padding: 0;
            &:first-child{
                padding-right: 7px;
            }
        }
    }
    p{
        margin-bottom: 0;
    }
}
