<!--
  Generated template for the TourPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding [ngClass]="learningTopic">
  <div class="instructions" (click)="instructions = false" [class.hidden]="!instructions">
    <div class="instruction instruction--info"><p>Klik hier voor de audiotour</p><p class="arrow">></p></div>
    <div class="instruction instruction--muziek" *ngIf="tour.slides[0].muziek"><p>Klik hier voor de begeleidende muziek</p><p class="arrow">></p></div>
    <div class="instruction instruction--map"><p>Klik hier voor een plattegrond van het museum</p><p class="arrow">></p></div>
  </div>
  <section class="slides">
    <ion-slides *ngIf="tour && tour.slides" (ionSlideDidChange)="onSlideChanged($event)">
      <ion-slide *ngFor="let slide of tour.slides; let i = index">
        <ion-grid>
          <ion-row>
            <ion-col col-9>
                <img class="artwork" [src]="getImage(slide.file)">
            </ion-col>
            <ion-col col-3 class="controls">
                <div padding-bottom text-center>
                  <art-button-round [icon]="'info'" (click)="audioPlayer(i, slide.title)" class="small info" [ngClass]="learningTopic"></art-button-round>
                  <span class="button-subtext">Info</span>
                </div>

                <div *ngIf="slide.muziek" padding-bottom  text-center>
                    <art-button-round [icon]="'muziek'" (click)="audioPlayer(i, slide.muziek, true)" class="small music" *ngIf="slide.muziek" [ngClass]="learningTopic"></art-button-round>
                    <span class="button-subtext">Muziek</span>
                </div>

                <div padding-bottom  text-center>
                  <art-button-round [icon]="'map'" (click)="viewMap('assets/imgs/Boijmans plattegrond.jpg', true)" class="small map" [ngClass]="learningTopic"></art-button-round>
                  <span class="button-subtext">Kaart</span>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col col-12 text-left class="description">
                <h3>{{slide.zaal}}</h3>
                <h6>{{slide.artist}} | {{slide.title}}</h6>

                <p *ngIf="slide.material">{{slide.material}}</p>
                <p *ngIf="slide.year">{{slide.year}}</p>
                <p *ngIf="slide.subject">{{slide.subject}}</p>
                <p *ngIf="slide.trivia">{{slide.trivia}}</p>
                <p *ngIf="slide.description">{{slide.description}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </section>
  <section class="actions" text-center>
      <art-button-rectangle [text]="'Terug'" (click)="back()" class="back"></art-button-rectangle>
      <art-button-rectangle [text]="'Verder'" (click)="forward()" *ngIf="!hideNext"  class="next"></art-button-rectangle>
      <art-button-rectangle [text]="'Klaar'" (click)="end()" *ngIf="hideNext"  class="next"></art-button-rectangle>
  </section>
</ion-content>
