page-tour {
    .col{
        text-align: left;
    }
    .artwork{
        flex: 1 0 100%;
        max-height: 240px;
        max-width: 100%;
        box-shadow: 2px 0px 2px 1px rgba(0,0,0,0.15);
    }
    .slide-zoom{
        display: flex;
        flex-direction: column;
    }
    .controls{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .button-subtext{
        white-space: nowrap;
        display: block;
    }
    .description{
        font-size: 14px;
        p{
            margin: 8px 0px;
        }
    }
    h3{
        text-transform: capitalize;
    }

    .info{
        svg{
            transform: scale(1.2);
        }
    }
    .map{
        svg{
            transform: translateY(2px) scale(1.4);
        }
    }
}
