page-tour {
    .instructions{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.55);
        position: absolute;
        z-index: 99;
        text-align: right;
        padding-right: 80px;
        padding-top: 30px;
        padding-left: 20px;
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        opacity: 1;
        transition: opacity 1s ease;
        &.hidden{
            opacity: 0;
            pointer-events: none;
        }
        .instruction{
            display: flex;
            margin-top: 10px;
            height: 40px;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 40px;
            p{
                vertical-align: middle;
                margin: 0;
                font-weight: bold;
                &.arrow{
                    margin-left: 15px;
                }
            }
        }
    }
    .col{
        text-align: left;
    }
    .artwork{
        flex: 1 0 100%;
        max-height: 240px;
        max-width: 100%;
        box-shadow: 2px 0px 2px 1px rgba(0,0,0,0.15);
    }
    .slide-zoom{
        display: flex;
        flex-direction: column;
    }
    .controls{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .button-subtext{
        white-space: nowrap;
        display: block;
    }
    .description{
        font-size: 14px;
        p{
            margin: 8px 0px;
        }
    }
    h3{
        text-transform: capitalize;
    }

    .info{
        svg{
            transform: scale(1.2);
        }
    }
    .map{
        svg{
            transform: translateY(2px) scale(1.4);
        }
    }
}
