.auto-height{
    .scroll-content{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
    }
    .modal-wrapper{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        margin: auto;
        position: absolute;
        max-width: 90%;
    }
    ion-backdrop{
        visibility: visible!important;
    }
}

.toolbar-background{
    display: none !important;
}

.toolbar-content{
    h1{
        margin-left:  30px;
        margin-right:  30px;
    }
}


.ion-page .content {
    background-image: url("../assets/imgs/pink-texture.jpg");
    background-size: cover;
    background-position: center center;
    &.jezelf{
        background-image: url("../assets/imgs/lightgreen-texture.jpg"); 
    }
    &.kunstgeschiedenis{
        background-image: url("../assets/imgs/lightblue-texture.jpg"); 
    }
    .scroll-content{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 16px !important;
        padding-bottom: 60px!important;
    }
    // &:after{
    //     position: absolute;
    //     display: block;
    //     content: '';
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     background-image: url("../assets/imgs/papier.jpg");
    //     background-size: cover;
    //     background-position: center center;
    //     opacity: 0.5;
    //     mix-blend-mode: luminosity;
    // }
}

ion-header::after {
    display: none;
}