.disabled{
    pointer-events: none;
    opacity: 0.3;
}

.line{
    position: absolute;
    top: 1.5px;
    left: 2.5px;
    right: -2.5px;
    bottom: -1.5px;
    border: 1px solid black;
    opacity: 0.4;
}

.custom-back-button{
    position: absolute;
    top: 16px;
    left: 0;
    margin-left: 12px;
    svg{
        width: 25px;
    }
}