.disabled{
    pointer-events: none;
    opacity: 0.3;
}

.line{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
    opacity: 0.1;
}

.custom-back-button{
    position: absolute;
    top: 16px;
    left: 0;
    margin-left: 12px;
    svg{
        width: 25px;
    }
}