
p{
    font-family: 'Lato';
    font-weight: 300;
}

ion-app.ios, ion-app.md {
    font-family: 'Lato';
    font-weight: 300;
    line-height: 1.4;
    .col{
        padding: 4px;
    }
}

h1,h2,h3,h4,h5,button{
    font-family: 'Lato';
    font-weight: 300;
}

.button-subtext{
    margin: 0;
    margin-top: 6px;
    font-size: 13px;
    &.active{
        font-weight: normal;
    }
}

h1{
    font-family: 'Yanone Kaffeesatz';
    font-size: 24px;
    &.logo{
        font-family: 'Amatic SC';
        font-size: 42px;
    }
}

li{
    margin-bottom: 10px;
}