.auto-height{
    .scroll-content{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
    }
    .modal-wrapper{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        margin: auto;
        position: absolute;
        max-width: 90%;
    }
    ion-backdrop{
        visibility: visible!important;
    }
}