
p{
    font-family: 'Lato';
    font-weight: 300;
}

ion-app.ios, ion-app.md {
    font-family: 'Lato';
    font-weight: 300;
}

h1,h2,h3,h4,h5,button{
    font-family: 'Yanone Kaffeesatz';
    font-weight: 300;
}