art-button-rectangle {
    padding: 0px 10px;
    button{
        position: relative;
        font-family: 'Lato';
        color: white;
        font-size: 20px;
        font-weight: normal;
        padding: 10px 18px;
        background: color($colors, danger);
    }
    &.back{
        button{
            background: color($colors, grey);
        }
    }
}
