pg-image-zoom{
    height: 150%;
    width: 150%;
    .content{
        background: transparent;
    }
    .scroll-content{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            margin-top: 60px;
            flex-grow: 0;
            width: auto;
            filter: none; 
            -webkit-filter: blur(0px); 
            -moz-filter: blur(0px); 
            -ms-filter: blur(0px);
        }
        art-button-round.small button {
            width: 30px;
            height: 30px;
            padding: 6px 6px;
            .line{
                top: 0.5px;
                left: 1px;
                right: -1px;
                bottom: -0.5px;
            }
        }

        .button{
            // color: map-get($colors, dark);
            // background: white;
            position: absolute;
            top: 20px;
            &--close{
                left: 20px;
            }
            &--zoom{
                right: 40px + 36px;
            }
            &--zoom-out{
                right: 20px;
            }
        }
    }
}

