art-button-round {
    width: 60px;
    height: 60px;
    button{
        position: relative;
        font-family: 'Lato';
        color: white;
        font-size: 17px;
        font-weight: normal;
        width: 60px;
        height: 60px;
        padding: 10px 10px;
        background: color($colors, secondary);
        border-radius: 200px;
        .line{
            border-radius: 200px;
        }
    }
    &.active{
        button{
            background: saturate(color($colors, secondary), 25);
        }
    }
    &.small{
        width: 40px;
        height: 40px;
        button{
            width: 40px;
            height: 40px;
            padding: 6px 6px;
            svg{
                width: 20px;
                height: 20px;

            }
        } 
    }
    &.transparent{
        button{
            background: transparent;
        }
        .line{
            display: none;
        }
    }
}
