art-button-round {
    width: 60px;
    height: 60px;
    button.activated{
        transform:  translateY(2px);
    }
    button{
        box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.3);
        position: relative;
        font-family: 'Lato';
        color: white;
        font-size: 17px;
        font-weight: normal;
        width: 60px;
        height: 60px;
        padding: 10px 10px;
        background-color: rgba(255, 136, 0, 0.4);
        background-image: url("../assets/imgs/orange-texture.jpg");
        background-blend-mode: overlay;
        background-position: 100%;
        background-size: 400px;
        border-radius: 200px;
        art-svg{
            opacity: 0.8;
            svg{
                *{
                    fill: white;

                }
            }
        }
        .line{
            border-radius: 200px;
        }
    }
    &.active{
        button{
            transform: scale(1.15);
            background-color: rgba(255, 136, 0, 0.5);
            box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.5);
        }
    }
    &.actualiteiten{
        button{
            background-color: transparent;
            background-image: url("../assets/imgs/orange-texture.jpg");
        }
    }
    &.jezelf{
        button{
            background-color: transparent;
            background-image: url("../assets/imgs/green-texture.jpg");
        }
    }
    &.kunstgeschiedenis{
        button{
            background-color: transparent;
            background-image: url("../assets/imgs/blue-texture.jpg");
        }
    }
    &.small{
        width: 40px;
        height: 40px;
        button{
            width: 40px;
            height: 40px;
            padding: 6px 6px;
            svg{
                width: 20px;
                height: 20px;

            }
        } 
    }
    &.transparent{
        button{
            background-color: transparent;
        }
        .line{
            display: none;
        }
    }
}
